@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');

:root {
  --white: #f5f5f7;
  --black: #1d1d1f;
  --orange: #eb915e;
  --grey: rgba(72, 80, 84, 0.95);
  --secondOrange: #e87f4f;
  --teal: #b6e0de;
  --box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
    rgba(0, 0, 0, 0.05) 0 -12px 30px, rgba(0, 0, 0, 0.05) 0 4px 6px,
    rgba(0, 0, 0, 0.05) 0 12px 3px, rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

* {
  font-family: 'Roboto', sans-serif;

}

.App {  
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

html, body {
  height: 100%;
  margin: 0; /* ensure no margin */
  padding: 0; /* ensure no padding */
}


.hover-btn {
  --h: 1.2em;
  line-height: var(--h);
  color: transparent;
  text-shadow: 0 calc(-1 * var(--_t, 0em)) var(--orange),
    0 calc(var(--h) - var(--_t, 0em)) var(--teal);
  overflow: hidden;
  transition: 0.3s;
  font-size: 18px;
  text-decoration: none;
}

.hover-btn:hover {
  --_t: var(--h);
}
