.header {
  position: sticky;
  top: 0;
  z-index: 100;  /* Make sure it overlays other items when scrolling */
   /* Add a background color to ensure text readability */
}


.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: tr;
  padding: 6px 0;
}

.nav-item {
  margin-right: 10px; 
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.separator {
  margin: 0 -125px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  color: var(--orange);
  display: inline-block;
}

.nav-item i.fa-heart-o,
.nav-item i.fa-shopping-cart {
  color: var(--orange);
  margin-right: 10px;
}

@media (max-width: 860px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 150px;
    background-color: transparent;
  }
  .separator {
    display: none;
  }
  .nav-item {
    margin-bottom: 20px;
  }
  .nav-item i {
    margin-right: 8px;
    display: none;
  }
}

