.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.main-section {
  position: relative;
  text-align: center;
  padding-bottom: 230px; 
}

.main-section img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 5px var(--orange) solid;
  box-shadow: var(--box-shadow);
}

.circle-container {
  position: relative; 
  margin-top: -315px;   /* Adjust based on desired overlap with main image */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; 
  z-index: 10;
}


.circle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  border: none;
  background-color: transparent;
  
}

.circle-item:hover {
  transform: translateY(-10px);
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 5px var(--orange) solid;
  box-shadow: var(--box-shadow);
}

.circle-item p {
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.guitar {
  background-position: 30% 85%;
}

.amplifier {
  background-position: 75% 85%;
}

.pedal {
  background-position: 40% 85%;
}

@media (max-width: 912px) {
  .main-section {
    padding: 0;
  }
  .main-section img {
    width: 90%; 
  }

  .circle-container {
    position: static; 
    bottom: auto; 
    left: auto; 
    transform: none; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px; 
  }

  /* .circle-item {
    margin-bottom: 20px; 
  } */
}

@media (max-width: 600px) {
.circle {
  width: 100px;  
  height: 100px;  
  border: 4px var(--orange) solid;  
  
}
}