.footer {
  background-color: var(--grey);
  padding: 20px;
  text-align: center;
  
}

.footer-links {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.footer-link {
  margin: 0 15px;
  text-decoration: none;
  color: inherit;
}

.copyright-portfolio {
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--orange);
}

.portfolio-link {
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
}
