.footer {
  background-color: var(--grey);
  padding: 20px;
  text-align: center;
}

.footer-links {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-link {
  --h: 1.2em;
  line-height: var(--h);
  color: transparent;
  text-shadow: 0 calc(-1 * var(--_t, 0em)) var(--orange),
    0 calc(var(--h) - var(--_t, 0em)) var(--teal);
  overflow: hidden;
  transition: 0.3s;
  font-size: 18px;
  text-decoration: none;
  margin-right: 15px;
}

.footer-link:hover {
  --_t: var(--h);
}

.copyright-portfolio {
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--orange);
  font-size: 14px;
}

.portfolio-link {
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 480px) {
  .footer-links {
    flex-direction: column;
  }

  .copyright-portfolio {
    font-size: 10px;
    justify-content: space-between;
  }
}
