.footer {
  background-color: var(--grey);
  padding: 20px;
  text-align: center;
  display: flex; /* Add this */
  justify-content: space-between; /* Use this to space out the Gear and Information sections */
  flex-wrap: wrap; /* Add this to ensure wrapping on smaller screens */
}

.footer-links {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px); /* Add this to give each section equal width. 
                              You can adjust the value if needed. */
}


.footer-link {
  --h: 1.2em;
  line-height: var(--h);
  color: transparent;
  text-shadow: 0 calc(-1 * var(--_t, 0em)) var(--orange),
    0 calc(var(--h) - var(--_t, 0em)) var(--teal);
  overflow: hidden;
  transition: 0.3s;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 15px;
}

.footer-link:hover {
  --_t: var(--h);
}

.copyright-portfolio {
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--orange);
  font-size: 14px;
}

.portfolio-link {
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
}

h3 {
  color: var(--orange);
  font-weight: 300;
  border-bottom: 1px solid var(--teal);
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column; /* Change the direction for smaller screens */
    align-items: center; /* Center align items on smaller screens */
  }

  .footer-links {
    width: 100%; /* Set the width to 100% for smaller screens */
  }

  .copyright-portfolio {
    font-size: 10px;
    justify-content: space-between;
  }
}

