.header {
  background-color: var(--grey);
  padding: 0;
  margin: 0;
}

.top-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 36px;
  height: 125px;
}

.left-mobile-icons,
.right-mobile-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: auto;
  max-height: 150px;
  max-width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}



@media screen and (max-width: 860px) {

  .top-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100px;
  }

  .logo {
    order: 2;
  }

  .left-mobile-icons {
    order: 1;
  }

  .right-mobile-icons {
    order: 3;
  }

  .left-mobile-icons,
  .right-mobile-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--orange);
    margin: auto;
  }

  .left-mobile-icons i,
  .right-mobile-icons i {
    margin-left: 8px;
    margin-right: 8px;
  }
}
